.navbar{
    background-color:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
}

.logo{
    font-size:1.8rem;
    font-weight:bold;
    letter-spacing:2px;
    text-transform:uppercase;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:color 0.3s
}

.nav-links a:hover{
    color:#ff6b6b;
}