.navbar{
    background-color:#333;
    color:white;
    display:flex;
    flex-direction:column;
    padding:20px 40px;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    align-items:center;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row; /* Row again */
    justify-content: space-between; /* Push to edges */
    align-items: center;
  }
}

.logo{
    font-size:1.8rem;
    font-weight:bold;
    letter-spacing:2px;
    text-transform:uppercase;
}

.nav-links{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top:15px;
    list-style:none;
    gap:30px;
}

@media (min-width:768px){
    .nav-links{
        flex-direction:row;
        text-align:left;
        margin-top:0;
        gap:30px;
    }
}
.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:color 0.3s
}

.nav-links a:hover{
    color:#ff6b6b;
}